<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eti-vue2-chapter05-03-directive-v-for-in-vue-js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="i in 10">{{i}}</li>
      </ul>
      <ul>
        <li v-for="product in products">{{product}}</li>
      </ul>
      <ul>
        <li v-for="task in tasks">{{task.id }} - {{ task.name}}</li>
      </ul>
    </div>
  </body>
  <script>
    new Vue({
      el: "#app",
      data: {
        products: ["Product 1", "Product 2", "Product 3", "Product 4"],
        tasks: [
          {
            id: 1,
            name: "task 1",
          },
          {
            id: 2,
            name: "task 2",
          },
          {
            id: 3,
            name: "task 3",
          },
          {
            id: 4,
            name: "task 4",
          },
        ],
      },
    });
  </script>
</html>
